<div class= "container">
<h5 id="creatortitle" style="text-align:center;">Profile:</h5>
        <div class="container">
        <div><%= @user.full_name %></div>
          <div id="creatorimg"><img id="creatorimg" src="<%=@user.avatar %>"></div>
        </div>

         <div class="container">

          <div><%= @user.about %></div>
          <div><%= @user.email %></div>
        </div>

        <br><br>

         <div class="titles">

        <h5 id="creatortitle" style="text-align:center;">Events:</h5>

      </div>

<div class="row">
<% @user.created_events.each do |u| %>
        <div class="col s2" style="margin:2em;">
          <div class="card large">
            <div class="card-image">
              <img src="<%= u.cover_img %>">
              <span class="card-title"><%= u.name %></span>
            </div>
            <div class="card-content">
              <p>
                <strong>Date:</strong>
                <%= u.start_date %>
              </p>

              <p>
                <strong>Time:</strong>
                <%= u.end_date %>
              </p>

            </div>
            <div class="card-action">
            <% current_user.created_events.each do |e| %>
              <%= link_to "view event", event_path(e) %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
</div>