
<div class="parallax-container">
<div class="parallax" id="titlepic"><img src="https://twistedsifter.files.wordpress.com/2015/08/shade-of-mountain-blue-by-luca-zanon.jpg"></div>
</div>

<div class="row">
<div class="container" id="user_info">
  <div id="user-info" class="col s3">

<%= image_tag @user.avatar %>

  <h5><%= @user.full_name %></h5>
  </div>
  <% if @user.dob.present? %>
    <h5>
      <%= fa_icon @user.sex %>
      <%= "#{pluralize(age(@user.dob), 'year')} old" %>
    </h5>
  <% end %>


<div class="col s9">
<p id="notice"><%= notice %></p>

  </div>
    <% if @user.dob.present? %>
      <h6>
        <%= fa_icon @user.sex %>
        <%= "#{pluralize(age(@user.dob), 'year')} old" %>
      </h6>
    <% end %>



  <div class="col s4" id="infouser">
    <div id="notice"><%= notice %></div>
      
  </div>
  <div class="col s7">
    <div class="container">
      <div>
        <strong>Email:</strong>
        <%= @user.email %>
      </div>


      <div>
        <strong>Gender:</strong>
        <%= @user.gender %>
      </div>

      
      <div>
        <strong>Dob:</strong>
        <%= @user.dob %>
      </div>
    </div>
  </div>
</div>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
   
<script>
$(document).ready(function(){
      $('.parallax').parallax();
    });</script>