<div class="container" id="user_info">
  <div id="user-info" class="col s3">

      <h6><%= link_to @user.full_name, @user %></h6>
    </div>
    <% if @user.dob.present? %>
      <h6>
        <%= fa_icon @user.sex %>
        <%= "#{pluralize(age(@user.dob), 'year')} old" %>
      </h6>
    <% end %>

  <div class="col s9">
    <div id="notice"><%= notice %></div>

    <div>
      <strong>Email:</strong>
      <%= @user.email %>
    </div>


    <div>
      <strong>Gender:</strong>
      <%= @user.gender %>
    </div>


    <div>
      <strong>Dob:</strong>
      <%= @user.dob %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
