<div class="container">
<div id="user-info" class="col s3">

<li><%= image_tag current_user.avatar %></li>

    <h5><%= link_to @user.full_name, @user %></h5>
  </div>
  <% if @user.dob.present? %>
    <h5>
      <%= fa_icon @user.sex %>
      <%= "#{pluralize(age(@user.dob), 'year')} old" %>
    </h5>
  <% end %>

<div class="col s9">
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>


<p>
  <strong>Dob:</strong>
  <%= @user.dob %>
</p>
</div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
