<h5 id="creatortitle">Your Profile:</h5>
        <div class="container">
          <div id="creatorimg"><img id="creatorimg" src="<%=@user.avatar %>"></div>
        </div>

         <div class="container">
          <div><%= @user.full_name %></div>
          <div><%= @user.about %></div>
        </div>







<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
