<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
<% if current_user %>
  <li><%= link_to 'Search Experiences', events_path(current_user) %></li>
  <li><%= link_to 'View Experiences', events_user_path(current_user) %></li>
  <li><%= link_to 'View Profile', user_path(current_user)%></li>
  <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
  <li class="divider"></li>
  <li><%= link_to "Logout", logout_path %></li>
  <% end %>
</ul>

<div class="row navbar-fixed">
  <nav>
    <div class="nav-wrapper nav-mobile">
    <% if current_user %>
      <a href="/events" class="brand-logo">Experiences</a>
      <% else %>
      <a href="/" class="brand-logo">Experiences</a>
      <% end %>

      <ul class="right hide-on-med-and-down">

      <% if current_user %>

      <li><a class="waves-effect waves-light btn modal-trigger" href="#modal3">Create Event<i class="material-icons right">add</i></a></li>

      <li><%= image_tag current_user.avatar_url(:thumb).gsub(".jpg", ".png") %></li>

     <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="/" data-activates="dropdown1"><%= current_user.first_name %><i class="material-icons right">arrow_drop_down</i></a></li>
       </li>

      <% else %>
        <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Login</a></li>
        <li><a class="waves-effect waves-light btn modal-trigger" href="#modal2">Sign-up</a></li>
      <% end %>
      </ul>
    </div>
  </nav>
</div>



<div id="modal1" class="modal">
  <div class="modal-content">
     <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= form_tag '/login' do %>
    <form method="GET" action="/login" class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Email</label>
        <input type="Email" class="form-control" id="exampleInputName2" placeholder="Email" <%= text_field_tag :email %>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Password</label>
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" <%= password_field_tag :password %>
      </div>

      <button type="submit" class="btn btn-default" <%= submit_tag "Submit" %> Login </button>
    </form>
    <% end %>

  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">

<%= form_for(User.new) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field" style="height: 1em; width: 1em;">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>

  <div class="datepicker field">
    <%= f.label :dob %>
    <%= f.text_field :dob %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">

<%= form_for(Event.new) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

    <div class="input-field">
    <select name="category_name">
      <option value="" disabled selected>Choose your category</option>
      <option value="Art">Art</option>
      <option value="2">Coffee</option>
      <option value="3">Cooking</option>
      <option value="1">Culture</option>
      <option value="2">Drinks</option>
      <option value="3">Games</option>
      <option value="1">Hiking</option>
      <option value="2">Meal</option>
      <option value="3">Party</option>
      <option value="1">Photography</option>
      <option value="2">Shopping</option>
      <option value="3">Sports</option>
      <option value="3">Trip</option>
      <option value="3">Walk</option>
      <option value="3">Others</option>
    </select>
    <label>Select a Category</label>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :cover_img %><br>
    <%= f.file_field :cover_img %>
  </div>

  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :remote_cover_img_url %>
  </div>

  <div class="datepicker field">
   <%= f.text_field :start_date, class: 'datepicker', :placeholder => "Date"%>
  </div>

  <div class="timepicker field">
    <%= f.label :time %>
    <div style="color:black;"><%= f.text_field :time %></div>
  </div>


  <script type="text/javascript">
    var geocoder;
    var map;
    function initialize() {
      geocoder = new google.maps.Geocoder();
      var toronto = {lat: 43.6532, lng: -79.3832};
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: toronto
      })
    }

    function codeAddress() {
      var address = document.getElementById('address').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
          document.getElementById("event_lat").value = results[0].geometry.location.lat()
          document.getElementById("event_lng").value = results[0].geometry.location.lng()
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>

  <body onload="initialize()">
  <div id="map" style="width: 100%; height: 300px;"></div>
   <div>
     <input id="address" type="textbox" value="Toronto">
     <input type="button" value="Encode" onclick="codeAddress()">
   </div>
 </body>

  <div class="field">
  <%= f.label :lng, 'Longitude' %>
  <%= f.text_field :lng %>
</div>

<div class="field">
  <%= f.label :lat, 'Latitude' %>
  <%= f.text_field :lat %>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>

<script type="text/javascript">



$('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );


$('.parallax').parallax();
    $('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      inDuration: 300, // Transition in duration
      outDuration: 200, // Transition out duration
      startingTop: '4%', // Starting top style attribute
      endingTop: '10%', // Ending top style attribute
    }
  );
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
window.events = <%== @events.to_json %>;
      $('select').material_select();
       $('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });

</script>