
<p id="notice"><%= notice %></p>


<div class="col s3" style="padding: 1em;">


<%= form_tag("/events", method: "get", class: "form_class") do %>

  <%= select_tag :event_type_filter, options_from_collection_for_select(@categories, :id, :name), include_blank: 'Select Experience'%>
  <%= text_field_tag :event_date_filter, '', class: 'datepicker', :placeholder =>  'Date'%>
   <%= text_field_tag :event_time_filter, '', class: 'timepicker', :placeholder => "Time"%>
  <%= submit_tag "Filter", class:"button_filter" %>
<% end %>



<div class="col s9" style="height: 400px" id='event-map' style="padding: 4em;">


<br>

<script>
      window.events = <%== @events.to_json %>;
      $('select').material_select();
       $('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
        $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });


function contentData (event){
  console.log('COVER IMAGE', event.cover_img)
  console.log('Description', event.description)
  return '<div class="row">' +
            '<div class="col s12 m7">' +
            '<a href="/events/' + event.id + '" >' +
              '<div class="card">' +
                '<div class="card-image">' +
                  '<img src="' + event.cover_img.url + '" id="boximage"/>' +
                  '<span class="card-title">' + event.name + '</span>' +
                '</div>' +
                '<div class="card-content">' +
                   event.description +'</div>'+
                '<div class="card-action">' +
                '</div>' +
              '</div>' +
            '</a>' +
            '</div>' +
          '</div>';
}
function initMap() {
        var Toronto = {lat: 43.6532, lng: -79.3832};
        var map = new google.maps.Map(document.getElementById('event-map'), {
          zoom: 14,
          center: Toronto
        });

        fetch('/events.json?event_type_filter=<%= @event_type_filter %>&event_date_filter=<%= @event_date_filter %>&event_time_filter=<%= @event_time_filter %>')
          .then( function(resp) { return resp.json(); })
          .then( function(json) {
            json.forEach( function(event) {

               var infowindow = new google.maps.InfoWindow({
                content: contentData(event)
              });

              // var marker = new google.maps.Marker({
              //   position: {lat: event.lat, lng: event.lng},
              //   map: map
              // })

           var iconBase = 'http://wiac2017.com/wp-content/uploads/2016/05/';
           var marker = new google.maps.Marker({
              position: {lat: event.lat, lng: event.lng},
              map: map,
              icon: iconBase + 'map-pin-icon.png'
            });
              marker.addListener('click', function() {
              infowindow.open(map, marker);
              });
            })
          });
        }
</script>
</div>



<div class="titles">
<h4><i class="material-icons"> explore</i>Explore Experiences</h4>
</div>

<div class="carousel">

<% @events.each do |event| %>

    <div class="carousel-item">
      <div class="card">
      <a href="/events/<%= event.id %>">
        <div class="card-image">
          <img src="<%=event.cover_img%>">
          <span class="card-title"><div id="cardeventname"><%=event.name%></div></span>

        <div class="fixed-action-btn horizontal click-to-toggle" style="position:absolute; float:right; bottom:5px; right:-5px;">
          <a class="btn-floating halfway-fab waves-effect waves-light #26a69a" title="Experience's Info">
          <i class="large material-icons">menu</i>
           </a>

          <ul>
            <li><a class="btn-floating #ee6e73" title="Attending"><i class="material-icons">event_available</i></a></li>
            <li><a class="btn-floating #ee6e73 darken-1" title="Interested"><i class="material-icons">star</i></a></li>
            <li><a class="btn-floating #ee6e73" title="Details" href="/events/<%= event.id %>"><i class="material-icons">details</i></a></li>
         </ul>
        </div>
        </div>
        <div class="card-content" id="eventdesc">
          <div id="eventdesc"><%=event.description%></div>
        </div>
        </a>
      </div>
    </div>
<% end %>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_key %>&callback=initMap">
</script>
<script>$(document).ready(function(){$('.carousel').carousel();});</script>