<!-- Radio Button for Users to add status to events: Interested/Going -->
<%= form_for EventsUser.new do |f| %>
  <input type="hidden" value="<%= @event.id %>" name="event_id" />
  <p>
    <input name="interested" type="radio" id="interested" />
    <label for="interested">Interested</label>
  </p>
  <p>
    <input name="going" type="radio" id="going" />
    <label for="going">Going</label>
  </p>
  <%= f.submit :Update %>
<% end %>

<%= render 'users/show' %>

<!-- COVER IMAGE -->
<div class="parallax-container">
  <div class="parallax"><img src="<%=@event.cover_img%>"></div>
</div>


<div id="notice">
  <%= notice %>
</div>

<div class="container" id="nameofevent">
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Cover img:</strong>
  <%= image_tag @event.cover_img %>
</p>


<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

</div>


<div class="container">
    <div id='event-detail-map' class="event_detail_map"></div>
</div>


<div class="row">
  <div class="col s7" id="eventinfo">
    <h5 id="eventtitle"> Event Info:</h5>
      <div>
        <strong>Description:</strong>
        <%= @event.description %>
      </div>


      <div>
        <strong>Start date:</strong>
        <%= @event.start_date %>
      </div>

      <div>
        <strong>End date:</strong>
        <%= @event.end_date %>
      </div>

      <div>
        <strong>Creator:</strong>
        <%= @event.creator_id %>
      </div>


<!-- For User to delete event -->
<% if current_user.id == @event.creator_id %>
  <%= link_to 'Delete Your Event', event_path(@event), method: :delete %> |
<% end %>


      <div>
        <strong>Longitude:</strong>
        <%= @event.lng %>
      </div>


      <div>
        <strong>Latitude:</strong>
        <%= @event.lat %>
      </div>
  </div>

  <div class="col s4" id="creator">
    <% if current_user.id == @event.creator_id %>
      <%= link_to 'Edit Your Event', edit_event_path(@event) %> |
    <% end %>

        <h5 id="creatortitle">Creator:</h5>
          <%= render 'users/show' %>

  </div>

<div class="col s7" id="disscusion">
  <% if current_user %>
         <h5 id="discussiontitle">Event Discussion:</h5>


        <%= form_for [@event, @post] do |form| %>

          <div class="form-group">

              <%= form.text_area :content, rows: '4', class: 'form-control' %>
          </div>
          <%= form.submit 'Submit', class: 'btn btn-primary' %>

            <% end %>

  <% end %>

    <div>
     <div class="container">
      <div>Post</div>

        <div>
          <% @event.posts.each do |post| %>
            <div><strong>User #<%= image_tag post.user.avatar %>'s post:</strong></div>
            <div>
              <%= post.content %>
            </div>

          <% end %>
        </div>
      </div>
</div>

</div>
<div class="col s4" id="attendes">


    <h5 id="attendestitle"> Attendes: </h5>
    <% @event_users.each do |eu| %>
    <dd>
    <dl ><%= image_tag eu.user.avatar %>
      <%= eu.user.first_name %>
      <%= eu.user.last_name %>
      is <strong> <%= eu.status %> </strong>
    </dl>
    </dd>
    <% end %>

  </div>
<script>
  window.event = <%== @event.to_json %>;
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=
<%= Rails.application.secrets.google_key %>&callback=initMap_detail">

</script>

<script> $(document).ready(function(){
      $('.parallax').parallax();
    });</script>
