<!-- COVER IMAGE -->
<div class="parallax-container" style="height:20em">
  <div class="parallax">
    <img src="<%= @event.cover_img %>">
  </div>

  <div id="index-banner" class="parallax-container">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><%= @event.name %></h1>
        <div class="row center">
          <h5 class="header col s12 light"><p><%= @event.description %></p>
          </h5>
          <p><%= @event.start_date %></p>
          <p><%= @event.time %></p>
        </div>
      </div>
    </div>


</div>

<div class="container-fluid row" style="background color:grey;">

<div class="col s3">
<!-- Radio Button for Users to add status to events: Interested/Going -->
    <div class="row" id="attendes">
    <h6 id="attendestitle">Status:</h6>
    <%= form_for EventsUser.new do |f| %>
    <input type="hidden" value="<%= @event.id %>" name="event_id" />
    <p>
      <input name="interested" type="radio" id="interested" />
      <label for="interested">Interested</label>
    </p>
    <p>
      <input name="going" type="radio" id="going" />
      <label for="going">Going</label>
    </p>
    <%= f.submit :Update , class: 'btn btn-primary'%>
    <% end %>
    </div>

  <div class="row" id="creator">
     <!-- Creator Details -->

        <h6 id="creatortitle">Creator:</h6>
        <div class="container">
          <div id="creatorimg">
          <%= link_to user_path(@event.user) do %>
          <div><%= @event.user.full_name %></div>
            <img id="creatorimg" src="<%=@event.user.avatar %>">
          </div>
          <% end %>
        </div>

         <div class="container">

          <div><%= @event.user.about %></div>
          <% if current_user.id == @event.creator_id %>
            <%= link_to 'Edit Your Event', edit_event_path(@event) %> |
            <%= link_to 'Delete Your Event', event_path(@event), method: :delete %> |
            <% end %>
          </div>
          <br><br>

          <!-- Event-Map -->
    <div class="container-fluid">
      <div id='event-detail-map' class="event_detail_map"></div>
    </div>

  </div>
  </div>

<!-- Event Posts Form-->

  <div class="col s5" id="disscusion">
    <% if current_user %>
           <h6 id="discussiontitle">Event Discussion:</h6>

          <%= form_for [@event, @post], html: { class: 'post_form' } do |form| %>

            <div class="form-group" >

                <%= form.text_area :content, rows: '4' %>
                </div>

                <div id="img-preview" class="form-group hide">
                  <img src="" alt="Preview">
                </div>

              <div class="form-group hide">
                <%= form.file_field :attachment %>
              </div>

              <div class="form-group">
                <a id="post-attachment" href="javascript:void(0);" class="pull-right btn btn-primary">
                <%= fa_icon 'image' %>
                </a>

                <%= form.submit 'Post', class: 'btn btn-primary'%>
              </div>
            <% end %>
        <% end %>
      <div>

  <!-- Event Posts rendering-->
       <div class="container">
            <% @event.posts.reverse.each do |post| %>
          <div>
          <ul class="collection">
                <%= post.created_at.strftime("%B %d, %Y") %>
              <div><strong><%= post.user.first_name %></strong></div>
              <p><%= image_tag post.user.avatar_url(:thumb).gsub(".jpg", ".png") %></p>
              <div>
                <p><%= post.content %></p>
                </div>
              <% if not post.attachment.file.nil? %>
                <div class="attachment">
                  <%= image_tag post.attachment_url %>
                </div>
              <% end %>
              <td><%= link_to 'Delete', post, method: :delete %></td>
          </div>
          <hr>
            <% end %>
        </div>
    </div>

  </div>

  <!-- Event Attendees -->
  <div class="col s3" id="attendes">
      <h6 id="attendestitle"> Attendees: </h6>
      <% @event_users.each do |eu| %>
      <dd>
      <ul class="collection">
      <%= link_to user_path(eu.user) do %>
      <dl><%= image_tag eu.user.avatar %>
      <% end %>
        <%= eu.user.full_name %>
        is <strong> <%= eu.status %> </strong></dl>
      </dd>
      <% end %>
    </div>
</div>


<script>
  window.event = <%== @event.to_json %>;
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=
<%= Rails.application.secrets.google_key %>&callback=initMap_detail">

</script>

<script> $(document).ready(function(){
      $('.parallax').parallax();
    });</script>


