<!-- Radio Button for Users to add status to events: Interested/Going -->
<%= form_for EventsUser.new do |f| %>
  <input type="hidden" value="<%= @event.id %>" name="event_id" />
  <p>
    <input name="interested" type="radio" id="interested" />
    <label for="interested">Interested</label>
  </p>
  <p>
    <input name="going" type="radio" id="going" />
    <label for="going">Going</label>
  </p>
  <%= f.submit :Update %>
<% end %>

<%= render 'users/show' %>

<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Cover img:</strong>
  <%= image_tag @event.cover_img %>
</p>


<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator_id %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.lng %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.lat %>
</p>



<% if current_user.id == @event.creator_id %>
  <%= link_to 'Edit Your Event', edit_event_path(@event) %> |
   <% end %>

<!-- For User to delete event -->
<% if current_user.id == @event.creator_id %>
  <%= link_to 'Delete Your Event', event_path(@event), method: :delete %> |
<% end %>


<%= link_to 'Back To Map', events_path %>

<div id='event-detail-map' class="event_detail_map"></div>

<script>
  window.event = <%== @event.to_json %>;
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=
<%= Rails.application.secrets.google_key %>&callback=initMap_detail">

</script>

<hr>
  <% if current_user %>
    <div id="review-form" class="row">
      <div class="col-sm-12">

        <h3>Event Discussion:</h3>
        <%= form_for [@event, @post] do |form| %>

          <div class="form-group">
            <%= form.label :content %>
              <%= form.text_area :content, rows: '4', class: 'form-control' %>
          </div>
          <%= form.submit 'Submit', class: 'btn btn-primary' %>

            <% end %>
      </div>
    </div>
<% end %>
<div>
  <dl class="dl-horizontal">
    <dd><strong><h4>Posts</h4></strong></dd>
    <dd>
      <hr>
      <% @event.posts.each do |post| %>
        <p><strong>User #<%= post.user_id %>'s post:</strong></p>
        <p>
          <%= post.content %>
        </p>

        <hr>
        <% end %>
    </dd>
  </dl>
</div>

<div>
  <p> THIS IS THE USERS ATTENDING SECTION</p>

  <% @event_users.each do |eu| %>
  <dd>
  <dl >User # <%= eu.id %>
    <%= eu.user.first_name %>
    <%= eu.user.last_name %>
    is <strong> <%= eu.status %> </strong>
  </dl>
  </dd>
  <% end %>

</div>



