<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Cover img:</strong>
  <%= image_tag @event.cover_img %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator_id %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.lng %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.lat %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<div id='event-map' class="event_detail_map"></div>

<script>
  window.event = <%== @event.to_json %>;
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=
<%= Rails.application.secrets.google_key %>&callback=initMap_detail">
</script>