<p id="notice"><%= notice %></p>

<h1>Events Users</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Rating</th>
      <th>User_ID</th>
      <th>Event_ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events_users.each do |events_user| %>
      <tr>
        <td><%= events_user.status %></td>
        <td><%= events_user.rating %></td>
        <td><%= events_user.user_id %></td>
        <td><%= events_user.event_id %></td>
        <td><%= link_to 'Show', events_user %></td>
        <td><%= link_to 'Edit', edit_events_user_path(events_user) %></td>
        <td><%= link_to 'Destroy', events_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Events User', new_events_user_path %>
