<p id="notice"><%= notice %></p>

<% @events_user.each do |eu| %>
<p>
  <strong>Status:</strong>
  <%= eu.status %>
</p>

<p>
  <strong>Rating:</strong>
  <%= eu.rating %>
</p>

<% end %>

<%= link_to 'Edit', edit_events_user_path(@events_user) %> |
<%= link_to 'Back', events_users_path %>
