<div class="container-fluid">

<div class="titles">
<h4><i class="material-icons"> explore</i>Upcoming Experiences</h4>
</div>

<div class="row">
<% @events_user.each do |eu| %>
        <div class="col s2" style="margin:1em;">
          <div class="card large">
            <div class="card-image">
              <img src="<%= eu.event.cover_img %>">
              <span class="card-title"><%= eu.event.name %></span>
            </div>
            <div class="card-content">
              <p>
                <strong>Date:</strong>
                <%= eu.event.start_date %>
              </p>

              <p>
                <strong>Time:</strong>
                <%= eu.event.time %>
              </p>

            </div>
            <div class="card-action">
              <a href="/events/<%= eu.event.id %>"><%= eu.status %></a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
</div>