<!-- my events -->


<!-- events im intersted in -->


<!-- events im going to -->


<!-- rate past events -->

<% @events_user.each do |eu| %>
<p>
  <strong>Status:</strong>
  <%= eu.status %>
</p>

<p>
  <strong>Event:</strong>
  <%= eu.event.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= image_tag eu.event.cover_img %>
</p>

<p>
  <strong>Rating:</strong>
  <%= eu.rating %>
</p>
<% end %>

<%= link_to 'Edit', edit_events_user_path(@events_user) %> |
<%= link_to 'Back', events_user_path %>



